[2012-11-22 17:47] marcoshack opened #6 "Change project title"
As it now supports HTTPClient I suggest the title "Log outgoing HTTP requests" :)

[2012-11-22 18:37] #6 closed, assigned to nobody

[2012-11-29 15:19] mjobin-mdsol opened #7 "support for Faraday"
Faraday is a common lib for making background HTTP request, especially when playing with REST API.

I'm trying to track X-Sendfile HTTP headers going around from one app to another...

[2012-11-29 16:12] #7 closed, assigned to nobody

[2013-02-28 17:49] atistler opened #10 "Problem with excon 0.19.1"
Using excon (0.19.1), i get:

.rvm/gems/ruby-1.9.2-p320@rails3/gems/httplog-0.2.3/lib/httplog/adapters/excon.rb:15:in `alias_method': undefined method`request_kernel' for class `Excon::Connection' (NameError)

[2013-03-05 12:46] #10 closed, assigned to nobody

[2013-07-10 07:40] millisami opened #11 "How do I log the query parameters for get reqs?"
Is there any option/flag to set on to log the query parameters too for GET requests?

[2013-08-04 15:25] #11 closed, assigned to nobody

[2014-01-30 07:32] derekrockwell opened #13 "RubyGems version mismatch"
It looks like the version.rb was bumped to 0.2.4 about 11 months ago which is inconsistent with what seems to be the release containing 0.2.4 code. Installing via `gem install httplog` installs the code reflected around v0.2.3 but showing v0.2.4, possibly because of a RubyGems caching issue.

I attempted to use the blacklist feature but it wasn't working and noticed that the code I had was ~v2.1.3

[2014-02-03 19:10] #13 closed, assigned to nobody

[2014-02-14 03:30] jcowhigjr opened #14 "uninitialized class variable @@options in HttpLog"
This could be my mistake, but I am getting this error after adding
gem 'httplog'
to my development group

  uninitialized class variable @@options in HttpLog

rails4.0.1 with ruby2.1.0

[2014-02-14 20:55] #14 closed, assigned to nobody

[2014-03-25 08:09] phuongnd08 opened #15 "Cannot see log in production"
I really need httplog to run in production in order to resolve a nasty issue that only happen on production server. I put it in the default group and add this initializer `HttpLog.options[:logger] = Rails.logger` but cannot receive the http log in production.log. Please advice?

[2014-03-25 10:40] #15 closed, assigned to nobody

[2014-07-29 22:34] skydan opened #16 "Log4r support"
Is there any chance to get support for log4r gem?

[2014-07-31 07:59] #16 closed, assigned to nobody

[2014-08-26 20:29] russellsilva opened #17 "httparty benchmarking is inaccurate"
D, [2014-08-26T13:08:48.821528 #6500] DEBUG -- : [httplog] Connecting: example.com:443
    D, [2014-08-26T13:08:49.292332 #6500] DEBUG -- : [httplog] Sending: GET https://example.com
    D, [2014-08-26T13:08:49.335191 #6500] DEBUG -- : [httplog] Status: 200
    D, [2014-08-26T13:08:49.335292 #6500] DEBUG -- : [httplog] Benchmark: 0.042724323 seconds

As can be seen in the above log excerpt (URL ch

[2015-01-09 13:40] Srinivas5028 opened #18 "Why httplog gem is not recommended to use for production environment?"
Why httplog gem is not recommended to use for production environment, can you please explain about this briefly?

[2015-01-09 19:25] andrhamm commented on #18
It is extremely verbose and logs will fill up your filesystem if not managed correctly. It also potentially logs sensitive data that is best not left sitting around. That being said, If you understand the tool, using it in production is fine. I do.

[2015-04-17 06:25] trusche commented on #18
My main reason for warning against its use in production is that it hooks into the networking code on a fairly low level in some cases. It may have side effects or performance issues that would be pretty hard to troubleshoot in production.

[2015-04-17 06:25] #18 closed

[2015-04-17 06:27] trusche commented on #17
Hi @russellsilva - sorry, somehow I missed the notification for this issue. Better late then never. I'll look into it, it's not intentional.

[2015-04-17 08:34] trusche commented on #17
The benchmarking covers the HTTP request once the connection is open. Not ideal, but much easier to implement because it's confined to a single method in all adapters. So I think I'll leave it as is for now. I'll add a note to the README.

[2015-04-17 08:35] #17 closed

[2015-04-21 17:35] christhekeele opened #19 "Support for HTTP"
Any thoughts about supporting the [http](https://github.com/httprb/http.rb) library? I don't believe it has any default logger support.

[2015-04-21 19:46] trusche commented on #19
@christhekeele I'll take a look, unless you'd like to take a stab at it yourself?

[2015-04-21 20:49] christhekeele commented on #19
Yeah, I'll hack on a PR tonight. The `httplog` interface looks simple enough to use, and the guts of `http` are pretty straight-forward too.

[2015-04-21 22:37] christhekeele commented on #19
Took an initial stab at it [here](https://github.com/christhekeele/httplog/tree/add-http-support). It's pretty straight forward, but one of the tests is failing: `http` auto-capitalizes headers and the headers spec is case-sensitive.

[2015-04-22 05:09] christhekeele commented on #19
Seems a lot of the other adapters downcase the header keys, so simply modifying the expectations to work on titleized headers fails 4 other tests.

I've treated it as in implementation detail and downcased both in the tests.

[2015-04-22 06:06] #19 closed

[2015-04-22 06:50] trusche commented on #19
Thanks! Merged and released as 0.2.8.

[2015-04-22 07:06] christhekeele commented on #19
:tada: :smile_cat:

[2015-11-17 12:00] dandan opened #23 "Encoding::CompatibilityError: incompatible character encodings: UTF-8 and ASCII-8BIT"
Under certain circumstances, a Encoding::CompatibilityError is raised (see backgrace below).  This seems to occur only:

* On 0.2.11 (does not occur on v 0.2.10)
* When a request contains a specific mix of characters.  In my case I'm sending a request to elastic search which contains both a non ascii character, and an escaped URL: "é %A9"

Backtrace:
[code]

[2015-11-17 14:26] trusche commented on #23
Thanks for reporting this. A bit strange that it should affect only 0.2.10, but in any case, I suspect #22 will fix this. I'll hope to have time to take a closer look at this in the next few days.

[2015-11-17 14:33] trusche commented on #23
Oh, it's probably the introduction of `unescape` in this commit: https://github.com/trusche/httplog/commit/bddf6cc2582c7d0cc24ef5236a8535b0e4a94e1a. I may have to revert that or at least make it optional. Now that I think about it, though it might help with readability, it does obfuscate the actual data going over the wire, so maybe it shouldn't be there at all.

[2015-11-17 14:35] trusche commented on #23
@dandan in the meantime, there's no new functionality other than that in 0.2.11, it's mostly just gem version bumps, so just fix to 0.2.10 until this is sorted please if that works for you.

[2015-11-18 10:19] trusche commented on #23
@dandan could you try using the master branch and let me know if it fixes your issue please?

[2015-11-23 21:21] ryansouza commented on #23
@dandan we were running in to this exact backtrace too and https://github.com/trusche/httplog/commit/26edec8dd98bb61b2b2169f290d16930d4da47e6 (released as 0.2.13) has fixed it for us

[2015-11-24 14:42] #23 closed

[2015-12-05 14:11] Qwertyn opened #28 "log writing failed. "\xC2" from ASCII-8BIT to UTF-8"
Hello!

Sometimes there is an error type:
[code]
"\xC2"  - example. There are other characters

It was possible to find out what it is in response.

Can I use the following approach or is it something fraught?
msg.force_encoding('UTF-8')

[code]

[2015-12-06 22:14] trusche commented on #28
Hi @Qwertyn, would you mind giving the master branch a try? I believe I've finally fixed this issue, at least for POST data, but it's possible it would crop up somewhere else - please let me know if you still encounter it with this version.

[2015-12-06 23:11] trusche commented on #28
I've published v0.2.15 which should fix this at the cost of no longer unescaping URI-encoded data.

[2015-12-06 23:11] #28 closed

[2015-12-07 10:18] Qwertyn commented on #28
I tried master branch.
Error is reproduced.
The thing is that these characters are found in a response.
Response is handled by log_body:

[code]

Even better, in my opinion, do it all in one place
[code]

[2015-12-21 15:42] Qwertyn commented on #28
@trusche, Say what?

[2016-01-15 01:05] trusche commented on #28
Yep, I'm combining yours with his, hopefully that'll do it. Thanks for your patience.

[2016-01-15 08:47] Qwertyn commented on #28
:+1: Thanks!
We are waiting for version update :-)

[2016-03-19 12:53] cavneb commented on #28
:+1:

[2016-03-19 15:21] trusche commented on #28
@cavneb just to be sure - are you saying you're still encountering this issue? Or that you like the fix? :)

[2016-04-14 08:25] pic opened #31 "issue with httpclient 2.7.1"
signature of #create_socket has changed in httpclient between 2.6.0.1

```httpclient/session.rb:    def create_socket(site)```

and 2.7.1

```httpclient/session.rb:    def create_socket(host, port)```

httplog is not compatible with the most up to date signature.

[2016-04-14 09:01] #31 closed

[2016-04-14 09:01] trusche commented on #31
Thanks for reporting this - fixed, will release new version shortly.

[2016-04-14 09:10] trusche commented on #31
v0.3.2 is available from rubygems.org.

[2016-04-14 11:00] pic commented on #31
great, works like a charm, thanks

[2016-04-19 12:51] ibragimov4xxi opened #32 "Response filtering"
Is there a way to filter the responce data (lambda/block)?
I want to filter the special data before sending it to the log.

[2016-04-19 18:34] trusche commented on #32
There isn't, I'm afraid. Could you describe your use case in a bit more detail?

[2016-04-20 09:24] ibragimov4xxi commented on #32
Yes. I have some secret data in response (on my projcet), and i want to filter this data because i do not want to save some specific private info (secret tokens, bank acmount, user's bank accounts, any other).

[2016-04-23 20:16] trusche commented on #32
Sorry, not supported atm. And I would strongly recommend against using this in production anyway. This gem messes with the network stack, so although I'm not aware of any, there are no guarantees of zero side effects. For your use case, I would recommend to capture, filter and then store the response from any API calls explicitly, instead of relying on HTTP request logging.

[2016-04-23 20:16] #32 closed

[2016-08-03 18:28] djShrek opened #34 "blog post link is broken"
The blog post link that you have linked for more information and details on httplog is broken.
Sorry if this is not the place to report the issue, but thought you would like to know.

[2016-08-25 10:56] trusche commented on #34
Thanks for pointing that out! I've removed the reference since the blog post has gone the way of the Dodo.

[2016-08-25 10:56] #34 closed

[2016-10-06 12:27] noorani786 opened #35 "How do I turn off logging?"
I don't want to remove the gem from the Gemfile but want to turn off http logging temporarily. How do I do that?

Thanks!

[2016-10-06 14:11] trusche commented on #35
@noorani786 There's currently no way to do that. You have two options: a) Set `HttpLog.options[:compact_log]   = true` to greatly reduce the amount of logging, or b) comment out the gem in the Gemfile and `bundle` (and comment out any configuration as well). Since this is only a development tool, that shouldn't be much of an effort. You could also try to set `HttpLog.options[:url_blacklist_pattern

[2016-10-06 19:39] #35 closed

[2017-03-01 07:31] drnic opened #38 "undefined method `configure' for HttpLog:Module"
In development.rb & production.rb of rails app I have:

[code]

But running `rails s` in dev or prod it explodes with:

[code]

Ideas?

[2017-03-01 07:34] trusche commented on #38
Sorry, that configuration is brand new for the not-yet-released version 0.99.0. Either use httplog from the master branch here, or use the configuration instructions of the last released version 0.3.3 from here: https://github.com/trusche/httplog/tree/v0.3.3

[2017-03-01 07:35] trusche commented on #38
I hope to release 0.99.0 today btw.

[2017-03-01 07:36] drnic commented on #38
Ahh ok. Thanks.

[2017-03-01 07:36] #38 closed

[2017-03-01 07:43] trusche commented on #38
I've added a version warning to the README.

BTW, I don't recommend using this in production, since it messes with the network stack. I haven't encountered any negative side effects yet, but that doesn't guarantee there aren't any.

[2017-03-01 07:45] drnic commented on #38
Thanks; I spotted https://github.com/trusche/httplog/issues/18 thread.

The side effects of watching networking can't be much worse that the negative effects of an invisible networking stack doing the wrong thing :)

[2017-04-12 13:45] Jasmine-Lognnes opened #40 "`log_status': uninitialized constant"
When running the below script I get

[code]

[code]

[2017-04-24 11:18] trusche commented on #40
You just need to require rack. This works:

[code]

However, rack is in fact a runtime dependency, so I've updated and release v0.99.3. If you install httplog with bundler, rack will now be present even when used outside of e.g. Rails.

[2017-04-24 11:18] #40 closed

[2017-05-23 18:05] kevinelliott opened #41 "Error: undefined method `log' for nil:NilClass"
When adding httplog `0.99.3` to a Rails 5 application and then setting logger to the one for Rails (as specified in the README), this error is presented:

[code]

Configuration in `config/environments/development.rb` is as follows:

[code]

Backtrace:

[code]

[2017-05-23 18:18] kevinelliott commented on #41
For some reason I had to put the configuration into the `config.after_initialization` block, after which it resolved the error. This issue can be closed.

[2017-05-23 18:18] #41 closed

[2017-05-23 18:54] trusche commented on #41
Hmm. I'll take a look, thanks for reporting this.

[2017-05-23 18:58] trusche commented on #41
@kevinelliott If you move the original config block from `development.rb` to an initializer, does it work then? I suspect it will - in which case I'll update the documentation accordingly.

Also, which Rails version - 5.1?

[2017-07-11 21:32] noctivityinc opened #44 "Allow for enabling / disabling for use with rspec key"
This gem is great but I would like to SELECTIVELY use it in my RSPEC tests with a key.  For example, I might have some examples where I want to see the log, such as

[code]

where the `show_log` key in the example would enable httplog and without it it would not be enabled.

[2017-07-11 21:42] noctivityinc commented on #44
Ok - I figured out a way, but a general OFF switch would make far more sense to me.  Here is what I am doing in an around block in `spec_helper`

[code]

[2017-07-11 21:55] trusche commented on #44
Heh, you beat me to it. I was going to say the usage of a user-defined metadata in specs is outside the scope of this gem, but this would be the way to do it - *if* there were a global enabled/disable option. I can add that, or perhaps you can send a pull request if you have time. But I'd still caution against using this in testing for similar reasons as in production - the gem monkey-patches the

[2017-07-11 21:57] noctivityinc commented on #44
Definitely.  Only reason for the if/then is because there is no c.enabled :)

On Tue, Jul 11, 2017 at 5:55 PM, Thilo Rusche <notifications@github.com>
wrote:

[2017-07-11 22:14] trusche commented on #44
Check out the develop branch and see if that works for you if you would.

[2017-07-11 22:33] noctivityinc commented on #44
`HttpLog.configure { |c| c.enabled = example.metadata[:show_log] }`

Works perfectly!  Thanks!

[2017-07-11 22:40] trusche commented on #44
Released as v0.99.6. Cheers!

[2017-07-11 22:40] #44 closed

[2017-07-19 06:57] shouya opened #45 "HttpLog undefined for plain ruby program"
Hi devs,

Do I have to use this gem with Rails/Rack programs? Or anything special have to be done if I want to use the gem with a standalone ruby program.

Here's a small program that demonstrates the issue:

[code]

Running this program with `ruby demo.rb` yields:

[code]

I just want to inspect the traffic over a very simple ruby program, but HttpLog then yields this exception. What can I do to

[2017-07-19 08:50] trusche commented on #45
It doesn't depend on Rails, but it uses Rack to parse HTTP status codes. I suppose that could be ditched, but it's really pretty simple to just include Rack. This works:

[code]

[2017-07-19 08:50] #45 closed

[2017-07-19 09:27] shouya commented on #45
Would it be better if this gem add dependency for rack instead of leaving this to users?

[2017-08-29 14:44] bakeris opened #47 "Is it possible to save logs in a specific file?"
Hello All,
I have installed httplog through gemfile. Everything is working fine but i want to get all the logs in a file rather than outputted directly in the terminal.
Could someone give me a help?
Regards

[2017-08-29 14:48] trusche commented on #47
Hi @bakeris - can you give me a bit more context? Are you using this in pure ruby, or within a Rails application? Can you just redirect all of stdout to a file, or is there additional output that you don't want to redirect?

[2017-08-29 15:58] bakeris commented on #47
@trusche sorry I am using it with rails and just want to save things in a file.

[2017-08-31 08:51] trusche commented on #47
All you need to do is specify your own logger in the configuration. For example:

[code]

[2017-08-31 08:51] #47 closed

[2017-08-31 21:56] bakeris commented on #47
Thanks

[2017-09-19 15:08] rickcockerham opened #48 "undefined method `log' for ActiveSupport::BufferedLogger"
I have tried this in my development.rb
  HttpLog.configure do |hconfig|
      hconfig.logger = Rails.logger
    end

I did a google search and found this:

[code]

ruby 2.2.6
rails 3.2.22.5
httplog 0.99.7

Neither one works.  This is the error I get:

[code]

[2017-09-20 08:49] trusche commented on #48
Hi @rickcockerham, I'm afraid this is most likely due to a backward incompatibility with Rails 3. The current stable release version of Rails is 5.1, the oldest version still receiving security updates is 4.2.  I'll happily accept a pull request to fix this for Rails 3, but I won't have the time to try and troubleshoot this myself. Closing for now.

[2017-09-20 08:49] #48 closed

[2017-09-21 12:04] CatherineMaddenUXDX opened #49 "Did you get my message?"
Hi Thilo,

I've sent you an email on UXDX a few days ago and I'm wondering if you had a chance to read it; I'm afraid it might have been marked as spam.

I would like to say thank you for being involved in Open Source and discuss something regarding our conference.

Could you please double check your email or drop me a message at catherine@uxdxconf.com?

Thanks in advance,
Catherine

[2017-09-21 13:18] trusche commented on #49
Yes, my spam filters are working, and so you spam me here in public. Nice.

[2017-09-21 13:18] #49 closed

[2017-10-17 15:48] igorigorigorigor opened #50 "Logging request payload\data\body is broken in 0.99.7"
Httplog logs kind of memory pointer instead of the payload\data\body itself.
`D, [2017-10-17T18:42:06.013390 #53965] DEBUG -- : [httplog] Sending: POST https://address.domain/api_method`
`D, [2017-10-17T18:42:06.013533 #53965] DEBUG -- : [httplog] Data: #<HTTP::Request::Body:0x007f93735632c8>`

Here is my code for this
`payload = { :param_1 => param_1.to_s, :param_2 => param_2.to_s, :param_3 => pa

[2017-10-17 15:53] igorigorigorigor commented on #50
Sorry. The problem is in the rest client itself (https://rubygems.org/gems/http).

[2017-10-17 15:53] #50 closed

[2018-01-03 13:02] tycooon opened #54 "Logging request data for rest-client POST body"
When I run the example from the readme:

[code]

I get the following log:
[code]

Note that the data is empty. Tested in rest-client 2.0.2, httplog 1.0.0.

[2018-01-04 11:54] trusche commented on #54
Thanks for reporting this, I'll take a look.

[2018-01-16 22:59] trusche commented on #54
Ok, tricky one. Turns out the RestClient gem send POST request as a stream if the payload responds to `:read` (https://github.com/rest-client/rest-client/blob/master/lib/restclient/request.rb#L463-L470), and it wraps pretty much any payload into a stream - `StringIO` for plain strings and hashes (https://github.com/rest-client/rest-client/blob/master/lib/restclient/payload.rb#L16-L39). The problem

[2018-02-26 10:06] tycooon opened #57 "Rack 2.0 dependency"
Hi, why is rack required for this gem? It can be used without web app at all, right? I have problems with some legacy app:

[code]

[2018-02-26 15:59] trusche commented on #57
It's using Rack to decode HTTP status codes - see https://github.com/trusche/httplog/pull/46. Admittedly it could be done without. I'll see if I can make it less strict, it should work with Rack v1. Stay tuned.

[2018-02-26 16:31] trusche commented on #57
I've loosened the dependency to `rack >= 1.0`. Could you give it a try from master, and if that solves your issue, I'll release it as a version bump?

[2018-02-26 16:35] tycooon commented on #57
It works, a new release would be cool!

[2018-02-26 16:40] tycooon commented on #57
By the way, it looks like some of gemfiles are missing in repo (http3 and rake2) and it's strange to me that travis is not complaining about that.

[2018-02-26 17:42] trusche commented on #57
They were still cached on Travis I assume. I added them back (was hoping I don' need to version that's in `Gemfile.lock`, but no dice).

v1.0.2 released.

[2018-02-26 17:42] #57 closed

[2018-04-09 11:17] marisveide opened #58 ""Zlib::GzipFile::Error: not in gzip format", when using with Google Drive API"
When using Google Drive API gem, for some reason the encoding is set to gzip, but the body is actually text/json.
So the httplog crashes on that:

[code]

I know it may be better to wait for Google to fix the place where it decodes the body earlier, to reset the encoding or something, but it might never happen.

So I suggest to fix this place in code to handle the cases when the encoding is set to

[2018-04-26 04:38] marisveide commented on #58
I found that it might be unzipped by rspec, so the httplog gets an exception when trying to unzip the content again.

Suggesting the following fix in the http_log.rb file "log_body" method - basically to rescue from the exception of unzipping not zipped body:

[code]

[2018-04-26 08:40] trusche commented on #58
Thanks for the detailed report, I'll take a look now.

[2018-04-26 08:57] trusche commented on #58
@marisveide  I'm having a hard time reproducing this in test code - if I simply send a text file with a gzip encoding, ruby's net/http raises a `Zlib::DataError` before httplog ever gets a chance to try its own unzip. Could you provide a test that fails with your particular error, *or* a code snippet using the Drive API that I can use as a basis to write a failing spec?

[2018-04-26 09:04] marisveide commented on #58
Thank you @trusche for looking into this... I really appreciate that.

Yeah, I tried to make the simple Ruby file that would reproduce that issue, but I also didn't succeed - works like a charm. It looks like there is some gem in the middle that catches it.

Strange is that this error happens only when I run the test code from rspec. When I just run the code even in rails console, it also works fi

[2018-04-26 09:43] #54 closed

[2018-04-26 10:08] marisveide commented on #58
Whew, got to reproduce that!
Here is the git repo with clean Rails project and just added the Google Cloud API and httplog, and the Rspec test that reproduces that error.
https://github.com/marisveide/reproduce-gzip-error-in-httplog

This is that test to run, to get that error: https://github.com/marisveide/reproduce-gzip-error-in-httplog/blob/master/spec/lib/google_drive_spec.rb

[2018-04-26 10:53] trusche commented on #58
Got it. I'd suggest to delete that repo immediately unless the private key in there is for a dedicated test account...

[2018-04-26 11:00] marisveide commented on #58
That's ok, I have created the special test key for just this case.
I will delete the key on the Google Cloud side when you will confirm that the root cause is found and fixed.

[2018-04-26 11:25] trusche commented on #58
Found it. The Google API gem uses HTTPClient with the option `transparent_gzip_decompression = true`. Working on a fix, stay tuned.

[2018-04-26 11:37] trusche commented on #58
Could you please try master, this should no longer throw an error but add a line to the log file stating that gzip decompression failed (same as your solution, really)

[2018-04-26 11:48] marisveide commented on #58
Yey, thanks!
It works, perfect!

Thank you so much for fixing this. Although the root cause is not in httplog - proves the value of "defensive programming" (never trust the input). :)

[2018-04-26 12:25] trusche commented on #58
Well, it kind of is in httplog. Lesson learned (again). 😁

Released v1.0.3. Cheers

[2018-04-26 12:25] #58 closed

[2018-06-22 15:24] cgriego opened #59 "colorize runtime dependency is GPL 2.0"
httplog is licensed as MIT, but the colorize runtime dependency is licensed as GPL 2.0. Would you consider changes to httplog that remove the dependency or replacing it with an alternative (like [rainbow](https://rubygems.org/gems/rainbow)) so that code that can't comply with GPL can use httplog?

[2018-06-22 16:27] trusche commented on #59
Absolutely, I haven't paid attention to that. Stay tuned.

On Fri, 22 Jun 2018, 16:24 Chris Griego, <notifications@github.com> wrote:

[2018-06-22 20:27] #59 closed, assigned to trusche

[2018-06-22 20:31] trusche commented on #59
Released version 1.1.0. Thanks again for pointing that out.

[2018-06-22 21:06] cgriego commented on #59
Thanks @trusche!

[2018-07-30 08:36] yoones opened #60 "Documentation - color example not working"
_Gemfile.lock: httplog (1.1.0)_

When I use the example in the README:

[code]

I get the following error:

[code]
Full initialization:
[code]

[2018-07-30 09:08] #60 closed

[2018-07-30 09:09] trusche commented on #60
Thanks for reporting this. That was actually a bug in the implementation, which only accepted a single color, not the documented color hash. Fixed and released as v1.1.1, please update your gem.

[2018-09-26 08:40] nicktime opened #61 "Configurable text_based?(content_type)"
Hi,

I've run into a problem of PDF dumping into log file. What do you think about making it configurable like:
[code]
I'd make a PR.

[2018-09-26 08:48] nicktime opened #62 "Double content-type header handled incorrectly"
[code]
In this case HTTP gem provides Content-Type as an array and `text_based?` handles it incorrectly.

[2018-09-26 10:10] nicktime commented on #62
That was PyWebDAV3 I don't know though how widespread this problem is.

[2018-09-26 15:34] trusche commented on #62
Based on [this](https://stackoverflow.com/questions/4371328/are-duplicate-http-response-headers-acceptable) and a closer look at the RFC, I'd suggest this is an invalid HTTP response and as such shouldn't be explicitly handled by httplog. We *could* ensure that Arrays of content types are accommodated (e.g. take the last value in that case), but this seems to be such a specific issue that I'd rath

[2018-09-27 09:40] nicktime commented on #62
That's fine. Standards a rarely strictly complied to though.

[2018-09-27 09:40] #62 closed

[2018-10-26 14:56] umarsheikh opened #64 "are aws-sdk / amazon request logs also visible through httplog"
I have a project with aws-sdk gem. Are their logs also visible through httplog? What does aws-sdk gem use to make http requests?

[2018-10-30 15:46] trusche commented on #64
Yes, requests made by asw-sdk should be logged, it uses net/http under the hood. Have you tried it?

[2018-11-07 10:32] umarsheikh commented on #64
yes, i tried it and there was nothing logged. But just today, I require'd 'httplog' and then i could see the requests made in the logs, which proved very helpful. Thanks!

[2018-11-07 10:32] #64 closed

[2018-12-31 16:15] #61 closed

[2019-01-09 10:21] nicktime commented on #61
Thanks!

[2019-01-28 09:18] RKushnir opened #67 "Bug: Ethon adapter fails when response headers are empty"
When using the Ethon adapter and when the `response_headers` is an empty string, this code produces `nil`
https://github.com/trusche/httplog/blob/730c30175b7bc7e6ec7bc75b96526bfee33bb680/lib/httplog/adapters/ethon.rb#L29-L31

which then causes a crash when calling `map` on it:
https://github.com/trusche/httplog/blob/730c30175b7bc7e6ec7bc75b96526bfee33bb680/lib/httplog/adapters/ethon.rb#L40

[2019-01-28 09:46] trusche commented on #67
Hmm. Hard to write a test for, since it takes some doing to send a HTTP response without any headers :) Anyway, this should fix it, can you give it a whirl from master?

[2019-01-28 09:47] RKushnir commented on #67
😄

[2019-01-28 09:54] RKushnir commented on #67
@trusche Works good, thank you. Could you make a new release?

[2019-01-28 10:55] #67 closed

[2019-02-25 16:47] neojin opened #69 "question: is blacklisting supposed to prevent the request from being sent?"
Upon initial reading it seems like blacklisting is a way to tell httplog not to log a http request if the URL matches the blacklist. I gave this a try with httprb, and when I blacklist a URL, it seems like it doesn't send the request at all.

Which leads me to the question - is the blacklist only supposed to prevent logging of the request, or to prevent the request itself being sent?

https://gith

[2019-02-25 17:27] trusche commented on #69
It's definitely not supposed to prevent the request. That's a bug. I'll fix it unless you feel like submitting a PR :)

[2019-02-25 20:33] neojin commented on #69
Thanks for confirming! Will try to have a PR out tomorrow

[2019-03-15 16:29] #69 closed

[2019-05-23 22:43] n-rodriguez opened #75 "Support for production?"
It could be nice to be able to run it where it's most useful : in production.
If you have an issue with an external API but can't log it from your application (with a feature switch or whatever) the usage is very reduce.

my 2 cents.

[2019-07-05 10:11] renovate[bot] opened #79 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Configuration option `bundler.enabled` should be boolean. Found: "true" (string)`

[2019-07-05 10:13] #79 closed

[2019-07-05 10:40] trusche commented on #75
Hi @n-rodriguez! There's really nothing stopping you from running this in production. I'm just pretty explicit in warning against it since this gem is basically a collection of monkey patches that mess with pretty low-level stuff.

I'd suggest that if you have an issue with an API cropping up in production, your first stop would be trying to reproduce it in your development or staging environment.

[2019-07-05 10:40] #75 closed

[2020-01-31 07:00] kapso opened #89 "HTTP gem does not work with this gem"
When I enable this gem, the HTTP [gem](https://github.com/httprb/http) does not return any data. So basically the following request returns an empty response.

`content = HTTP.get(URL).body.to_s`

Versions I am using -

[code]

[2020-01-31 10:30] trusche commented on #89
Well that's not good... :) Checking now

[2020-01-31 10:36] trusche commented on #89
Well, it works fine with ruby 2.6.5 for me. With this setup:

[code]

[code]

running `bundle exec test.rb` spits out the content of example.com. Checking ruby 2.7 now...

[2020-01-31 10:38] trusche commented on #89
Works the same for me with ruby 2.7.0. http gem version is 4.3.0 - which one do you have? And can you provide a minimum example that reproduces the issue?

[2020-01-31 19:15] kapso commented on #89
I am using `gem 'http', '4.3.0'`

[2020-02-01 07:38] maximeg commented on #89
I did stumble on that on one personal project (and hopefully, we weren't affected at work due to binary only responses).

 I was going to make a PR for that this morning.

The culprit is the new added `.dup` in `HttpLog#log_body`:

[code]

With that, you have two instances of `HTTP::Response`. The first one to be "read" (by using `to_s`) will consume the response from the connection. The other to

[2020-02-07 20:25] kapso commented on #89
Thanks, @maximeg

Curious when this fix will be released?

[2020-02-08 09:58] #89 closed

[2020-11-11 15:08] Ross65536 opened #101 "Is it possible to check programmatically if any external HTTP requests were made after a run?"
It would be useful to be able to tell if any HTTP requests were made after an execution (for example to check if any tests are not using stubs for HTTP)

[2020-11-11 15:27] trusche commented on #101
Interesting use case. However, that's not really the purpose of this gem.

I guess what you can do is check the logfile output for the absence of any line containing `httplog`. For stubbed HTTP calls, those should not be present.

Or you could assert that `HttpLog.call` is not called, something like `expect(HttpLog).to_not receive(:call)` (rspec). That should error if any library that HttpLog supp

[2020-11-14 18:48] #101 closed

[2021-04-13 17:08] eric-christian opened #105 "Exception `Errno::ESPIPE` with chunked transfer encoding and pipe-io as body"
## Describe the bug

Hello,

We encountered an `Illegal seek (Errno::ESPIPE)` exception while doing some chunked transfer encoding with a pipe-io as body.
The exception is raised when the body is rewinded. While a pipe-io responses to `rewind` it actually can't be rewinded. https://github.com/trusche/httplog/blob/ae519ee46d61ef3bf31dca9073aaa12d8c752f02/lib/httplog/adapters/http.rb#L37

In the sou

[2021-04-17 20:14] trusche commented on #105
Ugh. Thanks for reporting. This is what I was afraid of when we first introduced support for streams - they need to be rewound because reading them is not idempotent. I'll take a closer look in a while - it might be we simply can't log the body content in this case.

[2021-04-21 06:16] BrackXs opened #106 "Need to require Json even if config.json_log = false"
Otherwise:
httplog-1.4.3/lib/httplog/configuration.rb:53:in `initialize': uninitialized constant HttpLog::Configuration::JSON (NameError)

This seems to be quite an unnecessary dependency.

[2021-05-18 09:30] aeris opened #108 "Crash on frozen string during force_encoding"
Hello here!

Since Ruby 2.7 and frozen_string_literal, there is now more and more frozen strings used on Ruby code and gems.
Currently httplog is not compatible with such string, some calls crash if frozen strings met.
At least I spot a crash [here](https://github.com/trusche/httplog/blob/master/lib/httplog/http_log.rb#L335-L339) because `String#force_encoding` modify the string inplace and so rai

[2021-05-19 06:45] Meat-Chopper commented on #108
It's fixed in master branch, you can use:
gem 'httplog', github: 'trusche/httplog'

[2021-05-20 20:00] trusche commented on #108
I've released the current master as v1.5.0 just now. Please re-open if that doesn't fix it.

[2021-05-20 20:00] #108 closed

[2021-06-14 09:59] #106 closed

[2021-06-22 02:45] drnic opened #109 "How to stop logging a PNG binary"
I'm seeing binary data spewing through our logs. `[httplog] Data: PNG` is my clue. We're running v1.5.0 and I can see in readme etc that binary data shouldn't be logged.

Current initialization is:

[code]

Any ideas or protips on how to stop this? Thanks in advance 👍

[code]

**Update:** `config.log_data = false` seems to have quietened it down. I wonder what my peers were previously hoping to se

[2021-06-22 03:06] #109 closed

[2021-08-30 08:21] renovate[bot] opened #113 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/trusche/httplog).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Open

These

[2022-01-21 11:48] emad-elsaid opened #115 "Binary body logged"
I noticed that binary response body is logged although when I looked at the README and CHANGELOG there was a change to stop logging binary data.

[2022-02-13 22:08] trusche commented on #115
Hmm. It shouldn't, but it relies on the content type headers being present and accurate. Can you provide an example please?

[2022-02-28 15:55] rpelorosso opened #116 "Is adding require 'httplog' necessary?"
According to [Usage](https://github.com/trusche/httplog#usage) we need to use
[code]

But I've not added that require (only added the gem), yet I see `httplog` logs in my log.

Is adding the require not necessary?

[2022-04-11 21:33] limjinsun opened #120 "NoMethodError (undefined method `log' for nil:NilClass)"
[code]
I can't get this work? why is it?

[2022-04-11 21:54] #120 closed

[2022-04-22 14:50] pierrea opened #122 "No logs and `undefined method [] for nil:NilClass`, Rails 7"
Hi,
I'm unable to see HTTP logs on my Rails 7 app.
I added version 1.5.0 of the gem in the :development group of my Gemfile and added the following to my /config/environments/development.rb :

[code]

When I make a test http call from the ruby console using Ethon, the call succeeds but I get the following error message which points [here](https://github.com/trusche/httplog/blob/master/lib/httplog/

[2022-05-12 06:10] trusche commented on #122
Hm. Could I get your exact rails and ruby versions please, and ideally your Gemfile.lock?

[2022-05-12 06:30] trusche commented on #122
Never mind, I can reproduce it somewhat. It seems to be the `config.logger = Rails.logger` directive, without that it works fine with Net::HTTP, with it it raises a similar error. I'll take a closer look at what has changed.

[2022-05-12 06:35] trusche commented on #122
@pierrea if you move the httplog configuration from `environments/development.rb` into an initializer, it should work. Seems like the logger is not yet initialized at this point. To use it only in development, you can add a `if Rails.env.development?` guard clause.

[2022-05-12 06:40] #116 closed

[2022-05-12 06:41] #115 closed

[2022-05-12 09:45] pierrea commented on #122
Thank you @trusche  for taking the time to look into this. After moving the init code from environments/development.rb to an initializer, I still don't get any logs.

I was using a `config.after_initialize` block in the development.rb config file like so, which I believe is the same as putting it in a initializer:

[code]

My exact Rails version is 7.0.2.3 and ruby is 3.0.3-p157

[2022-05-12 13:18] trusche commented on #122
Ok, some more questions then:

* Do you still get the exception with Ethon?
* You don't get any logs with Ethon, or HTTParty, or both?
* Could you confirm that you don't see anything in the logfiles themselves, as opposed to the output from the development server in the console? They're not always identical.

[2022-05-12 14:13] pierrea commented on #122
Thanks again for your willingness to dig deeper. I'm relieved to say that `[httplog]` lines are present in the development.log file! Do you know what could cause logs not to show in the server console? I didn't know this was possible.

Same situation regardless of Ethon or HTTParty.
And yes, still getting the exception with Ethon, but no exception with HTTParty.

[2022-10-02 12:23] #122 closed

[2022-11-09 21:08] kevin-j-m opened #125 "Version 1.6 Changelog Documentation"
Congrats on the 1.6.0 release! Will there be a [changelog](https://github.com/trusche/httplog/blob/master/CHANGELOG.md) entry added to highlight what's included? Thanks.

[2022-11-21 11:32] olleolleolle commented on #125
https://github.com/trusche/httplog/commit/4eb58ac525847252efbae29a885245a87465cacb Seems like this commit added it! Hope this helps!

[2022-11-21 13:05] kevin-j-m commented on #125
Thank you!

[2022-11-21 13:05] #125 closed